@import 'variables';
@import 'media-query';

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

@include desktop {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
      'title img'
      'subtitle img'
      'text img';
    grid-column-gap: 2em;

    &__image {
      grid-area: img;
      position: relative;
      z-index: 2;
    }
    &__body {
      grid-area: text;
    }
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-area: subtitle;
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -2em;
    width: calc(100% + 4em);
    padding-left: 2em;
    padding-right: calc(200px + 4em);
  }
}
